table,th,td{
    width: 40px;
    height: 40px;
    border:1.5px solid black;
}
table{
    border:none
}
.squareFull{
    position: relative;
}
.tableSquare{
    border-collapse:collapse;
}
button {
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    margin-left: 0;
    margin-top: 0;
}
input{
    height: 24px;
    font-size: 16px;
}
html{
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(255, 203, 184);
}
.contentSquare{
    width: 40px;
    height: 40px;
    margin: 0;
    border: white;
    outline: none;
    font-size: 28px;
    text-align: center;
    line-height: 40px;
}
.askIndex{
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    margin:0;
}
#main{
    position: absolute;
    top:0px;
    left: 0;
    right: 0;
}
.logoName{
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    /* font-size: 72px; */
    background: -webkit-linear-gradient(rgb(70, 2, 255), rgb(248, 0, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    user-select: none; 
} 
.boxGameWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.showSquare{
    /* background-color: rgb(255, 203, 184); */
    /* background-color: rgb(194, 56, 6); */
    height: 500px;
    width: 60%;
    padding: 0 2.5%;
    padding-top: 20px
}
.creatGame{
    background-color:rgb(255, 159, 103);
    transition: width .3s;
    padding: 0 2.5%;
    height: 500px;  
    width: 30%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.ansques{
    display: flex;
    flex-direction: column;
}
.question,.answer{
    width: 80%;
    margin: 2px 0;
}
.newGame{
    margin-top: 20px;
}
.finish,.reset{
    font-size: 20px;
}
.chooseMethod{
    display: flex;
}
.chooseMethodText{
    /* background-color:blueviolet; */
    /* width: 200px; */
    margin-right: 10px;
    font-size: 20px;   
}
.rowTableFalse{
    background-color: #ccc;
}
.rowTableTrue {
    background-color: tomato;
}
.askIndexActivate{
    background-color: rgba(247, 230, 0, 0.884);
}
.showQuestion{
    display: none;
    background-color: rgb(252, 248, 197);
    width: 500px;
    border-radius: 5px;
}
.textShowQuestion{
    padding: 10px;
    margin: 10px;
}
.noticationBox{
    width: 100%;
    background-color: yellow;
    padding: 12px;
    color: red;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 80px;
    font-style: italic; 
    border-bottom-left-radius: 20px;
}
.notification{
    margin:0;
    font-style: normal;
}
.nextAsk{
    margin-top: 10px;
}

#main .extendIcon {
    position: absolute;
    top: 9.5%;
    right: 0;
    display:none;
}
.narrowIcon{
    position: absolute;
    top: 0;
    right: 0;
}
.btnAnswer,.showAnswer{
    outline: none;
    border: none;
    border-radius: 5px;
    padding:5px 12px
}
.btnAnswer{
    background-color: red;
}
.showAnswer{
    background-color: orange;
}
.help_rows{
    margin: 8px 0px;
}
.make {
    /* position: absolute;  */
    text-align: center;
    margin-top: 120px;
    font-style: italic;
    font-size: 18px;
}